results/ngram_index/
results/wordcount_go/
results/wordcount_python/
results/wordcount/
results/fasttext/*.npy
results/word_similarity/
results/word_similarity_v2/
results/author/
results/author-full/
results/simplified_title_author/

web/public/data/